<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceContractor" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IServiceContractor" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceContractor">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://terminalserver:40080/Contractor" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceContractor"
                contract="Ecours.Proxy.IServiceContractor" name="BasicHttpBinding_IServiceContractor" />
            <endpoint address="net.tcp://terminalserver:40040/Contractor"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceContractor"
                contract="Ecours.Proxy.IServiceContractor" name="NetTcpBinding_IServiceContractor" />
            <endpoint address="net.pipe://localhost/Contractor" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IServiceContractor"
                contract="Ecours.Proxy.IServiceContractor" name="NetNamedPipeBinding_IServiceContractor">
                <identity>
                    <userPrincipalName value="TERMINALSERVER\e.sladkov" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>