<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <!--

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceContractor" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IServiceContractor" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceContractor">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://e-sladkov:40080/ServiceContractor"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceContractor"
                contract="ServiceContractor.IServiceContractor" name="BasicHttpBinding_IServiceContractor" />
            <endpoint address="net.tcp://e-sladkov:40004/ServiceContractor"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceContractor"
                contract="ServiceContractor.IServiceContractor" name="NetTcpBinding_IServiceContractor" />
            <endpoint address="net.pipe://localhost/ServiceContractor" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IServiceContractor"
                contract="ServiceContractor.IServiceContractor" name="NetNamedPipeBinding_IServiceContractor">
                <identity>
                    <userPrincipalName value="E-SLADKOV\eugene" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    -->
</configuration>
