<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceOrganization" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IServiceOrganization" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceOrganization">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://terminalserver:40082/Organization"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOrganization"
                contract="Ecours.Proxy.IServiceOrganization" name="BasicHttpBinding_IServiceOrganization" />
            <endpoint address="net.tcp://terminalserver:40042/Organization"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceOrganization"
                contract="Ecours.Proxy.IServiceOrganization" name="NetTcpBinding_IServiceOrganization" />
            <endpoint address="net.pipe://localhost/Organization" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IServiceOrganization"
                contract="Ecours.Proxy.IServiceOrganization" name="NetNamedPipeBinding_IServiceOrganization">
                <identity>
                    <userPrincipalName value="TERMINALSERVER\e.sladkov" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>